<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TANDA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Danfo&family=DynaPuff:wght@400..700&family=Londrina+Sketch&family=Sunflower&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header-outer">
        <nav class="header-navigation">
            <a href="/"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        </nav>
        <div class="header-inner responsive-wrapper">
            <div class="header-logo">
                <h3 class="texte">TANDA</h3>
            </div>    
        </div>
    </header>
    <div class="contain">
        <p class="Bluetooth"><i class="fa fa-bluetooth" aria-hidden="true"></i></p>
        <p>Activer le Bluetooth pour connecter vos gants</p>
        <button id="connectButton">Mes gants</button>
        <div id="toast" class="toast"></div>
    </div>
    
    <script>
        if ('bluetooth' in navigator) {
            document.getElementById('connectButton').addEventListener('click', async () => {
                try {
                    const device = await navigator.bluetooth.requestDevice({
                        acceptAllDevices: true,
                        optionalServices: ['battery_service']
                    });

                    // Affiche le nom de l'appareil connecté
                    const statusMessage = `Appareil connecté : ${device.name}`;
                    showToast(statusMessage);
                } catch (error) {
                    // Affiche l'erreur en cas de refus ou d'échec
                    const errorMessage = `Erreur : ${error.message}`;
                    showToast(errorMessage);
                }
            });
        } else {
            const noSupportMessage = 'Le Bluetooth n\'est pas pris en charge par ce navigateur.';
            document.getElementById('status').textContent = noSupportMessage;
            showToast(noSupportMessage);
        }

        // Fonction pour afficher le toast
        function showToast(message) {
            const toast = document.getElementById('toast');
            toast.textContent = message;
            toast.className = 'toast show';

            // Cache le toast après 10 secondes
            setTimeout(() => {
                toast.className = toast.className.replace('show', '');
            }, 10000);
        }
    </script>
</body>
</html>
